* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
html {
    font-size: 62.5%;
    @media screen and (max-width: 1300px) {
        font-size: 55%;
    }
    @media screen and (max-width: 991px) {
        font-size: 62.5%;
    }
}
html, body {
    overflow-x: hidden;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    background-color: transparent;
}