h1, h2, h3, h4 {
    font-family: 'Archivo', sans-serif;
}
h1 {
    font-size: 6.4rem;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 120%;
    @media screen and (max-width: 991px) {
        font-size: 4.8rem;
    }
}
h2 {
    font-size: 3.2rem;
    font-weight: 600;
}
h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 120%;
    color: $neutral-300;
}
h4 {
    font-size: 2.0rem;
    font-weight: 600;
    color: $neutral-300;
}
