@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600;700;900&family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

h1, h2, h3, h4 {
  font-family: 'Archivo', sans-serif;
}

h1 {
  font-size: 6.4rem;
  font-weight: 900;
  color: #FFFFFF;
  line-height: 120%;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

h4 {
  font-size: 2.0rem;
  font-weight: 600;
}

header {
  margin-top: 5rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9999;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo {
  width: 100%;
  max-width: 17.5rem;
  height: 3.2rem;
}

header nav a {
  width: 100%;
  max-width: 21.4rem;
  height: 100%;
  font-size: 1.4rem;
  color: #FFF;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav a img {
  height: 20px;
  width: 20px;
}

#hero {
  position: relative;
  padding-top: 8.3rem;
  background: linear-gradient(169.86deg, #27272D 7.59%, rgba(39, 39, 45, 0) 68.32%), url(https://raw.githubusercontent.com/Hudsonhfreitas/UiBoost/ceaa1f9ab8285c795a08a323180c3e9080c574b5/assets/stars.svg) no-repeat top;
  background-size: cover;
}

#hero .container {
  margin-top: 8.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .container .text {
  width: 100%;
  max-width: 71.8rem;
  height: 50.3rem;
}

#hero .container .text .challenge {
  font-size: 1.8rem;
  font-family: 'Archivo', sans-serif;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 700;
  background: linear-gradient(37.87deg, #0194FF 20.9%, #01EADA 78.55%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero .container .text h1 {
  margin-top: 2rem;
}

#hero .container .text p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 150%;
  margin-top: .9rem;
}

#hero .container .text .briefing {
  width: 100%;
  max-width: 59.9rem;
  height: 6.4rem;
  margin-top: 8.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#hero .container .text .briefing .enjoy {
  position: absolute;
  top: 8rem;
  left: 3.2rem;
}

#hero .container .text .briefing .btn-white {
  width: 100%;
  max-width: 22.3rem;
  background: #FFFF;
  border: none;
  border-radius: 4px;
  color: #27272D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  height: 100%;
  padding: 1.8rem 2rem 1.9rem 2.3rem;
  margin-right: 1.2rem;
}

#hero .container .text .briefing .colors {
  width: 100%;
  max-width: 36.4rem;
}

#hero .container .image {
  position: relative;
  height: 94.283rem;
  width: 100%;
  max-width: 75rem;
  margin-left: -25.8rem;
  pointer-events: none;
}

#hero .container .image .rocket {
  position: relative;
  width: 100%;
  max-width: 60.09rem;
  height: 94.283rem;
  z-index: 4;
}

#hero .container .image .info {
  position: absolute;
  width: 100%;
  max-width: 37rem;
  height: 20.3rem;
  top: 31.7rem;
  right: 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero .container .image .info .date {
  position: relative;
  background: linear-gradient(268.59deg, #01D4E4 12.6%, rgba(1, 148, 255, 0) 98.81%);
  opacity: 0.9;
  padding: 0.1rem 2.2rem 3.8rem 0;
  border-radius: 0 23px 0 0;
  z-index: 1;
}

#hero .container .image .info .date h3 {
  color: #FFFF;
}

#hero .container .image .info img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 1.8rem;
  width: 2.417rem;
  height: 2rem;
}

#hero .container .image .info span {
  margin-top: 1.4rem;
  font-size: 1.8rem;
  line-height: 150%;
  color: #FFFF;
}

#hero .container .image .space-circles {
  position: absolute;
  width: 1138px;
  height: 1138px;
  bottom: 12.3rem;
  left: -15.1rem;
}

#hero .container .image .space-circles #circle-1, #hero .container .image .space-circles #circle-2, #hero .container .image .space-circles #circle-3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .container .image .space-circles #circle-1 .ellipse, #hero .container .image .space-circles #circle-2 .ellipse, #hero .container .image .space-circles #circle-3 .ellipse {
  position: relative;
}

#hero .container .image .space-circles #circle-1 .ellipse span, #hero .container .image .space-circles #circle-2 .ellipse span, #hero .container .image .space-circles #circle-3 .ellipse span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: white;
  pointer-events: all;
  border-radius: 50%;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

#hero .container .image .space-circles #circle-1 .ellipse span::after, #hero .container .image .space-circles #circle-2 .ellipse span::after, #hero .container .image .space-circles #circle-3 .ellipse span::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border: 1px solid rgba(16, 143, 155, 0.8);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: planet 3s infinite alternate;
          animation: planet 3s infinite alternate;
}

#hero .container .image .space-circles #circle-1 .ellipse span:hover, #hero .container .image .space-circles #circle-2 .ellipse span:hover, #hero .container .image .space-circles #circle-3 .ellipse span:hover {
  width: 10px;
  height: 10px;
}

#hero .container .image .space-circles #circle-1 .ellipse span:hover::after, #hero .container .image .space-circles #circle-2 .ellipse span:hover::after, #hero .container .image .space-circles #circle-3 .ellipse span:hover::after {
  width: 28px;
  height: 28px;
  opacity: 1;
}

#hero .container .image .space-circles #circle-1 {
  -webkit-animation: rotating 30s linear infinite;
          animation: rotating 30s linear infinite;
}

#hero .container .image .space-circles #circle-1 img {
  -webkit-transform: rotate(175deg);
          transform: rotate(175deg);
}

#hero .container .image .space-circles #circle-2 {
  top: 21rem;
  left: 21rem;
  -webkit-animation: rotating-reverse 20s linear infinite;
          animation: rotating-reverse 20s linear infinite;
}

#hero .container .image .space-circles #circle-2 img {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
}

#hero .container .image .space-circles #circle-3 {
  top: 37.3rem;
  left: 37.3rem;
  -webkit-animation: rotating 15s linear infinite;
          animation: rotating 15s linear infinite;
}

#hero .container .image .space-circles #circle-3 img {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

#hero #cloud-1, #hero #cloud-2, #hero #cloud-3 {
  position: absolute;
}

#hero #cloud-1 {
  width: 1295.52px;
  height: 392.57px;
  bottom: -7.7rem;
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(calc(-50% + 51px));
          transform: translateX(calc(-50% + 51px));
  -webkit-animation: move 8s ease-out infinite;
          animation: move 8s ease-out infinite;
}

#hero #cloud-2 {
  min-width: 1951.31px;
  height: 645.03px;
  bottom: -30rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  z-index: 3;
  -webkit-animation: move 5s 2s ease-out infinite;
          animation: move 5s 2s ease-out infinite;
}

#hero #cloud-3 {
  min-width: 1994px;
  height: 662.03px;
  bottom: -35.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  z-index: 4;
  -webkit-animation: move 9s 4s ease-out infinite;
          animation: move 9s 4s ease-out infinite;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-reverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotating-reverse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes move {
  0% {
    left: 50%;
  }
  50% {
    left: calc(50% + 40px);
  }
  100% {
    left: 50%;
  }
}

@keyframes move {
  0% {
    left: 50%;
  }
  50% {
    left: calc(50% + 40px);
  }
  100% {
    left: 50%;
  }
}

@-webkit-keyframes planet {
  to {
    width: 28px;
    height: 28px;
    opacity: 1;
  }
}

@keyframes planet {
  to {
    width: 28px;
    height: 28px;
    opacity: 1;
  }
}

body {
  background-color: #17171B;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}
/*# sourceMappingURL=index.css.map */