#hero {
    position: relative;
    padding-top: 8.3rem;
    background: linear-gradient(169.86deg, #27272D 7.59%, rgba(39, 39, 45, 0) 68.32%), url(https://raw.githubusercontent.com/Hudsonhfreitas/UiBoost/ceaa1f9ab8285c795a08a323180c3e9080c574b5/assets/stars.svg) no-repeat; 
    .container {
        margin-top: 8.3rem;
        display: flex;
        .text {
            position: relative;
            z-index: 10;
            width: 100%;
            max-width: 71.8rem;
            .challenge {
                font-size: 1.8rem;
                font-family: 'Archivo', sans-serif;
                text-transform: uppercase;
                line-height: 120%;
                font-weight: 700;
                background: linear-gradient(37.87deg, #0194FF 20.9%, #01EADA 78.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            h1 {
                margin-top: 2rem;
            }
            p {
                font-size: 2rem;
                color: rgba(255, 255, 255, 0.7);
                line-height: 150%;
                margin-top: .9rem;
            }
            .briefing {
                width: 100%;
                max-width: 59.9rem;
                height: 6.4rem;
                margin-top: 8.6rem;
                display: flex;
                position: relative;
                opacity: 1;
                z-index: 9;
                .enjoy {
                    position: absolute;
                    top: 8rem;
                    left: 3.2rem;    
                }
                .btn-white {
                    width: 100%;
                    max-width: 22.3rem;
                    background: #FFFF;
                    border: none;
                    border-radius: 4px;
                    color: $neutral-300;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;
                    font-size: 1.8rem;
                    line-height: 150%;
                    height: 100%;
                    padding: 1.8rem 2rem 1.9rem 2.3rem;
                    margin-right: 1.2rem;
                }
                .colors {
                    width: 100%;
                    max-width: 36.4rem;
                }
            }
        }
        .image {
            position: relative;
            height: 94.283rem;
            width: 100%;
            max-width: 75rem;
            margin-left: -25.8rem;
            pointer-events: none;
            .rocket {
                position: relative;
                width: 100%;
                max-width: 60.09rem;
                height: 94.283rem;   
                z-index: 4;
            }
            .info {
                position: absolute;
                width: 100%;
                max-width: 37rem;
                top: 31.7rem;
                right: 0;
                text-align: right;
                display: flex;
                flex-direction: column;
                .date {
                    background: linear-gradient(268.59deg, #01D4E4 12.6%, rgba(1, 148, 255, 0) 98.81%);
                    opacity: 0.9;
                    padding: 0.1rem 2.2rem 3.8rem 0;
                    border-radius:  0 23px 0 0;
                    z-index: 1;
                    h3 {
                        color: #FFFF;
                    }
                }
                img {
                    align-self: flex-end;
                    margin-top: 1.8rem;
                    width: 2.417rem;
                    height: 2rem;
                }
                span {
                    margin-top: 1.4rem;
                    font-size: 1.8rem;
                    line-height: 150%;
                    color: #FFFF;
                }
            }
            .space-circles {
                position: absolute;
                width: 1138px;
                height: 1138px;
                bottom: 12.3rem;
                left: -15.1rem;
                #circle-1, #circle-2, #circle-3{
                    position: absolute; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .ellipse {
                        position: relative;
                        span {
                            position: absolute;
                            width: 6px;
                            height: 6px;
                            background: white;
                            pointer-events: all;
                            border-radius: 50%;
                            transform: translateX(-80%);
                            &::after {
                                content: '';
                                    position: absolute;
                                    width: 0px;
                                    height: 0px;
                                    border: 1px solid rgba(16, 143, 155, 0.8);
                                    top: 50%;left: 50%;
                                    transform: translate(-50%,-50%);
                                    border-radius: 50%;
                                    opacity: 0;
                                    animation: planet 3s infinite alternate;
                            }
                            &:hover {
                                width: 10px;
                                height: 10px;
                                &::after {
                                    width: 28px;
                                    height: 28px;
                                    opacity: 1;
                                }
                            }
                        }  
                    }  
                }
                #circle-1 {                      
                    animation: rotating 30s linear infinite;  
                    img {
                        transform: rotate(175deg);
                        opacity: 0.3;
                    }              
                }
                #circle-2 {
                    top: 21rem;
                    left: 21rem;
                    animation: rotating-reverse 20s linear infinite;  
                    img {
                        transform: rotate(150deg);
                    }
                }
                #circle-3 {
                    top: 37.3rem;
                    left: 37.3rem;
                    animation: rotating 15s linear infinite;  
                    img {
                        transform: rotate(160deg);
                    }
                }
            }
        }
    }      
    #cloud-1, #cloud-2, #cloud-3 {
        position: absolute;
    }  
    #cloud-1 { 
        width: 1295.52px;
        height: 392.57px;
        bottom: -7.7rem;
        z-index: 1;
        left: 50%;
        transform: translateX(calc(-50% + 51px));
        animation: move 8s ease-out infinite;
    }
    #cloud-2 {
        width: 1951.31px;
        height: 645.03px;
        bottom: -30rem;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        z-index: 3;
        animation: move 5s 2s ease-out infinite;
    }
    #cloud-3 {
        width: 2061px;
        height: 662.03px;
        bottom: -35.2rem;
        left: 50%;
        transform: translateX(-50%);
        right: 0;
        z-index: 4;
    }
    @media screen and (max-width: 1300px) {
        .container {
            justify-content: space-between;
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 9.6rem;
        .container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .text {
                text-align: center;
                h1 {
                    margin-top: 1.6rem;
                }
                p {
                    margin-top: 3.2rem;
                }
                .briefing {
                    margin-top: 5.6rem;
                    max-width: unset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .enjoy, 
                    .colors {
                        display: none;
                    }
                    .btn-white {
                        max-width: 24.9rem;
                        margin-right: 0;
                    }
                }
            }
            .image {
                margin-top: 7.5rem;
                margin-left: 0;
                max-width: 100%;
                height: 67.39rem;
                display: flex;
                .rocket {
                    width: 100%;
                    height: 100%;
                    min-width: 100%;
                    transform: translateX(-30px);
                }
                .info {
                    width: 37rem;
                    top: 26.5rem;
                    right: calc(8rem - 30px);
                    .date {
                        padding: 2.015rem 3.2rem 1.885rem 0;
                    }
                    img {
                        margin-top: 5.2rem;
                    }
                }
                .space-circles {
                    bottom: -14rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        #cloud-1 {
            height: 331.41px;
            width: unset;
            left: -14rem;
            transform: unset;
            bottom: -16rem;
            animation: unset;
        }
        #cloud-2 {
            height: 545px;
            bottom: -34rem;
            left: -63rem;
            transform: unset;
            animation: unset;
            color: white;
        }
        #cloud-3 {
            height: 559px;
            left: -68rem;
            bottom: -39rem;
            transform: unset;
        }
    }
    @media screen and (max-width: 600px) {
        background-position: center;
        .container {
            margin-top: 7.2rem;
            .text {
                .challenge {
                    font-size: 1.6rem;
                }
                h1 {
                    font-size: 3rem;
                    br {
                        display: none;
                    }
                }
                p {
                    margin-top: 2.4rem;
                    font-size: 1.8rem;
                    br {
                        display: none;
                    }
                }
                .briefing {
                    margin-top: 4rem;
                    .btn-white {
                        max-width: 22.3rem;
                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .image {
                margin-top: 6rem;
                max-width: 296px;
                .space-circles {
                    bottom: 20rem;
                    width: 682px;
                    height: 682px;
                    left: -75%;
                    transform: unset;
                    #circle-1 {
                        img {
                            width: 682px;
                             height: 682px;
                        }
                    }
                    #circle-2 {
                        top: 16.4rem;
                        left: 16.4rem;
                        img {
                            width: 430.33px;
                            height: 430.33px;
                        }
                    }
                    #circle-3 {
                        top: 24.7rem;
                        left: 24.7rem;
                        img {
                            width: 234.94px;
                            height: 234.94px;
                        }
                    }
                }
                .rocket {
                    width: 100%;
                    height: 463px;
                }
                .info {
                    width: 100%;
                    max-width: 22.2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    top: unset;
                    bottom: 8.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    .date {
                        background: none;
                        border-radius: 0;
                        padding: 0;
                    }
                    img {
                        margin-top: 4.2rem;
                        align-self: center;
                    }
                    span {
                        text-align: center;
                        font-size: 1.6rem;
                        br {
                            display: none;
                        }
                        .strong {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        #cloud-1 {
           bottom: -20rem;
           left: -19rem;
        }
        #cloud-2 {
            bottom: -38rem;
        }
        #cloud-3 {
            bottom: -42rem;
        }
    }
    @media screen and (max-width: 480px){
        #cloud-1 {
            left: -24rem;
         }
         #cloud-2 {
             left: -68rem;
         }
         #cloud-3 {
             left: -74rem;
         }
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotating-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes move {
    0% {
        left: 50%;
    }
    50% {
        left: calc(50% + 40px);
    }
    100% {
        left: 50%;
    }
}
@keyframes planet {
    to {
        width: 28px;
        height: 28px;
        opacity: 1;
    }
}