$primary:  #01D4E4;
$secondary: #5935FF;
$gradient: linear-gradient(37.87deg, #0194FF 20.9%, #01EADA 78.55%);
$neutral-100: #17171B;
$neutral-200: #27272D;
$neutral-300: #27272D;
$neutral-400: #737380;
$neutral-500: #F6F6F9;