#awards {
    background: #FFFF;
    width: 100%;
    .container {
        max-width: 1368px;
        padding: 0 15px;
        .main {
            background: url('../../assets/stars2.svg') no-repeat top, $neutral-100;
            padding: 8.4rem 7.6rem 10.6rem 7.6rem;
            border-radius: 16px;
            h2 {
                color: #FFFF;
                text-align: center;
                line-height: 120%;
            }
            .cards {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                .card {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 5.5rem;
                    width: 100%;
                    max-width: 28rem;
                    height: 21.1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: rgba(39, 39, 45, 0.8);
                    border-radius: 8px;
                    img {
                        width: 4.8rem;
                        height: 4.8rem;   
                    }
                    h4 {
                        margin-top: 3.6rem; 
                        color: #FFFF; 
                        line-height: 120%;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .container {
            .main {
                .cards {
                    gap: 2.4rem;
                    margin-top: 8rem;
                    justify-content: center;
                    .card {
                        margin-top: 0;
                       h4 {
                        margin-top: 3.2rem;
                       }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        .container {
            z-index: 2;
            position: relative;
            padding: 0 19px;
            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 4.8rem 2.9rem 8.6rem 2.8rem;
                h2 {
                    font-size: 2.4rem;
                    width: 100%;
                    max-width: 24.8rem;
                    br {
                        display: none;
                    }
                }
                .cards {
                    margin-top: 4rem;
                    .card {
                        height: 19rem;
                        h4 {
                            margin-top: 2.4rem;
                        }
                    }
                }
            }
        }
    }
}