#participate {
    background: #FFFF;
    .container {
        max-width: 1302px;
        display: flex;
        align-items: center;
        justify-content: center;
        .box {
            width: 100%;
            padding: 8rem 4.3rem 9.6rem 4.3rem;
            background: url(https://raw.githubusercontent.com/Hudsonhfreitas/UiBoost/4d74a8e260c5122c94c96f19a676abe6dbd88d87/assets/bg-porque_participar.svg) no-repeat;
            height: 42.9rem;
            border-radius: 0 0 16px 16px;
            color: #FFFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-top: 2.4rem;
                font-size: 18px;
                line-height: 150%;
                width: 100%;
                max-width: 86.4rem;
            }
            ul {
                display: flex;
                margin-top: 8.3rem;
                li {
                    display: flex;
                    p {
                        font-weight: 500;
                        font-size: 1.8rem;
                        line-height: 150%;
                        margin-left: 2.4rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .container {
            .box {
                background-size: cover;
                background-position: top;
                height: 70.4rem;
                text-align: center;
                padding: 8rem 4.1rem 8rem 4.1rem;
                ul {
                    flex-direction: column;
                    margin-top: 6.4rem;
                    text-align: center;
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        max-width: 34.5rem;
                        &:not(:first-child) {
                            margin-top: 4.8rem;
                        }
                        img {
                            width: 15px;
                            height: 12px;
                        }
                        p {
                            margin-left: 0;
                            margin-top: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 560px) {
        .container {
            .box {
                height: 100%;
                width: 100%;
                padding: 5.7rem 4.3rem;
                background: url('../../assets/circle-mobile.svg'), rgb(89, 53, 255);
                background-size: cover;
                margin-top: -10px;
                z-index: 1;
                h2 {
                    font-size: 2.4rem;
                }
                p {
                    font-size: 1.6rem;
                }
                ul {
                    margin-top: 4.1rem;
                    li {
                        flex-direction: row;
                        &:not(:first-child) {
                            margin-top: 2.3rem;
                        }
                        p {
                            font-size: 1.6rem;
                            text-align: left;
                            margin-left: 1.6rem;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
   
}